<div class="jumbotron text-center">
    <h1>{{ title }}</h1>
    <p class="description" ng-bind-html="description"></p>
</div>

<form name="dateInputRangeForm" ng-submit="getData()">
    <label for="dateFrom">From</label>
    <input id="dateFrom" name="input" ng-model="flights.from" placeholder="yyyy-MM-dd"
           required type="date"/>

    <label for="dateTo">To</label>
    <input id="dateTo" name="input" ng-model="flights.to" placeholder="yyyy-MM-dd"
           required type="date"/>

    <label for="model">Model</label>
    <select id="model" ng-change="getSelectedModelMethod(selectedModel)" ng-init="selectedModel = models[0]"
            ng-model="selectedModel" ng-options="x.name for x in models">
    </select>

    <label for="airline">Linia lotnicza</label>
    <select id="airline" ng-change="getSelectedAirline(selectedAirline)"
            ng-model="selectedAirline" ng-options="x for x in airlines">
    </select>

    <input type="submit" value="Submit"/>
</form>

<div class="text-left" id="details" ng-bind-html="details"></div>
<img ng-src="{{ statsSrc }}">

<table class="table table-striped table-sm table-nonfluid">
    <tr ng-repeat="row in items">
        <td ng-repeat="column in row">{{column}}</td>
    </tr>
</table>
