<div class="jumbotron text-center">
    <h1>{{ title }}</h1>
    <p class="description" ng-bind-html="description"></p>
</div>

<form name="myForm" ng-controller="DateController">
    <label for="exampleInput">From</label>
    <input id="exampleInput" name="input" ng-model="example.value" placeholder="yyyy-MM-dd"
           required type="date"/>

    <p ng-if='!myForm.input.$valid'
       style="font-family:Arial;color:red;background:steelblue;padding:3px;width:350px;">Select valid date</p>
    <p ng-if='!!myForm.$error.required'
       style="font-family:Arial;color:#ffffff;background:blue;padding:3px;width:350px;">Date is required</p>

    <p ng-if='greaterDate()'
       style="font-family:Arial;color:red;background:steelblue;padding:3px;width:350px;">Date should be less than
        {{getDate(example.maxDate)}}</p>

    <p ng-if='lesserDate()'
       style="font-family:Arial;color:red;background:steelblue;padding:3px;width:350px;">Date should be greater than
        {{getDate(example.minDate)}}</p>
</form>

<div class="text-left" id="details" ng-bind-html="details"></div>
<img ng-src="{{ statsSrc }}">

<table class="table table-striped table-sm table-nonfluid">
    <tr ng-repeat="row in items">
        <td ng-repeat="column in row">{{column}}</td>
    </tr>
</table>
